<nav class="navbar navbar-expand-lg navbar-dark bg_blue pd-1rem">
  <div class="container">
    <div class="d-flex flex-grow-1">
      <div class="section-header-logo">
        <img *ngIf="!isEditMode" [froalaImageView]="froalaElements.headerLogo">
        <img *ngIf="isEditMode" [froalaEditor]="getEditorByName('headerLogo')" [(froalaModel)]="froalaElements.headerLogo">
      </div>
      <!-- <a class="navbar-brand" (click)="goToHome()">
        <img src="../../../assets/images/Scythe_Logo_WhiteLightBlue.png" class="logo-custom-width" alt="app-logo" />
      </a> -->
      <div class="w-100 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbar">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <div *ngIf="isEditMode" class="section-featured-wrapper__title" [froalaEditor]="getEditorByName('developerBlockHeader')"
          [(froalaModel)]="froalaElements.developerBlockHeader">
     </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">{{ "header.browse" | translate }}</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">{{ "header.vender" | translate }}</a>
        </li>
        <li class="nav-item" *ngIf="!userLoggedIn">
          <a class="nav-link" (click)="toLogin()">{{
            "header.login" | translate
          }}</a>
        </li>
        <li class="nav-item" *ngIf="!userLoggedIn">
          <a class="nav-link" (click)="toSignup()">{{
            "header.register" | translate
          }}</a>
        </li>
        <li class="nav-item dropdown" *ngIf="userLoggedIn">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"(click)="toUpdateProfile()" >{{
              "header.update-profile" | translate
            }}</a>
            <a class="dropdown-item" (click)="logout()">{{
              "header.logout" | translate
            }}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>