@font-face {
  font-family: Fjalla_one_regular;
  src: url("../../../../assets/fonts/Fjalla_One/FjallaOne-Regular.ttf");
}
.img-properties {
  border-radius: 10px;
}

.side-nav-style {
  text-transform: uppercase;
  font-weight: bold;
}

.details-style {
  background-color: grey;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

a.badge.badge-default {
  background-color: #f0f1f1;
  color: #5d5d5d;
  font-size: 14px;
  padding: 10px;
  margin: 3px 5px;
  font-weight: normal;
  border-radius: 2px;
}
a.badge.badge-default:hover{
background: #e5e5e8;
}

.list-group-item.active {
  z-index: 2;
  color: #1f4886;
  background-color: transparent;
  border-color: transparent;
}

.list-group-item {
  color: #545960;
  border: 1px solid transparent;
  padding: 12px 0;
    display: block;
    text-decoration: none;
    font-size: 0.875em;

}

.list-group-item:hover {
  color: #1f4886;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
}
.list-group{
  padding: 10px;
}

a {
  transition: 0.5s;
}

.breadcrumb {
  font-size: 14px;
  line-height: 1.29;
  padding: 0px;
  background-color: transparent;
  margin: 0px;
  color: #97a3ae;
  font-family: Fjalla_one_regular;
  text-transform: uppercase;
}

span.sep .fa {
  font-size: 18px;
  padding: 0 8px;
  color: #1f4886;
}

.div_style {
  display: inline-block;
}

.custom-alert {
  width: 300px;
}

.modal-backdrop.in {
  opacity: 0.9;
}

.modal-body {
  background-color: whitesmoke;
  border-radius: 11px;
}

.modal {
  background-color: rgba(58, 51, 51, 0.4);
  padding-top: 5px;
}

.confirm-message {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 5px;
}

.confirm-button {
  text-align: center;
  margin: 15px 0px 15px 0px;
}

.btn-no {
  background-color: #f4516c;
  color: white;
}

.btn-yes {
  background-color: #716aca;
  color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  width: 30%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30%;
  height: 10%;
  background-size: 50%, 100%;
  background-color: #1f4886;
}

.carousel-control-prev {
  left: -70px;
  opacity: 1;
}

.carousel-control-next {
  right: -70px;
  opacity: 1;
}

.app-details-description {
  color: #5d5d5d;
  font-size: 0.875em;
}

.download-btn {
  font-family: inherit;
  font-size: 1rem;
  border-radius: 2px;
  max-width: 100%;
  line-height: 1.73;
  padding: 8px 12px;
  min-width: 120px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
}

.download-btn:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  background-color: #007bff;
  border-color: #007bff;
}

.breadcrumb a {
  text-decoration: none;
  color: #1f4886 !important;
  cursor: pointer;
}
.heading {
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: Fjalla_one_regular;
}


