<app-header></app-header>
<div class="container-fluid">
    <img class="app-bg-left" src="../../../../assets/images/illustration-left.svg" alt="left-bg-img">
    <img class="app-bg-right" src="../../../../assets/images/illustration-right.svg" alt="right-bg-img">
    <div class="container p-custom">
        <div class="row justify-content-center">
            <div class="col-md-8 update-container" *ngIf="!IsPassword">
                <div class="row justify-content-center">
                    <div class="text-center signup-container">
                        <h4 class="update-title">Update Profile</h4>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- <div class="text-center">
                        <p class="success-message" *ngIf="updateuserStatus=='SUCCESS'">Profile Updated Successfully</p>
                    </div> -->
                    <div class="text-center">
                        <p class="success-message" *ngIf="updateuserStatus=='SUCCESS'">Profile Updated Successfully</p>
                        <p class="error-message" *ngIf="updateuserStatus!='SUCCESS'">{{updateuserStatus}}</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 details-container">
                        <form [formGroup]="formGroup" class="signup-form" (validSubmit)="onSubmit()">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="text" class="form-control" placeholder="Email" [(ngModel)]="userEmail"
                                    formControlName="Email" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <div class="input-group">
                                    <input class="form-control py-2 border-right-0 border" placeholder="Password"
                                        [(ngModel)]="userPassword" formControlName="Password">
                                    <span class="input-group-append" (click)="updatePassword();">
                                        <div class="input-group-text bg-transparent"><i class="fa fa-angle-right"></i>
                                        </div>
                                    </span>
                                </div>
                                <!-- <input type="text" class="form-control" placeholder="Password" [(ngModel)]="userPassword"
                                    formControlName="Password" /> -->
                            </div>
                            <button class="btn btn-primary w-100" type="submit">
                                Update
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-------------------------------Uptade Password--------------------------------->
            <div class="col-md-8 update-container" *ngIf="IsPassword">
                <div class="row justify-content-center p-0-43">
                        <div class="col-md-4">
                            <span class="input-group-append" (click)="updateEmail();">
                                <div class="input-group-text bg-transparent"><i class="fa fa-angle-left"></i>
                                </div>
                            </span>
                        </div>
                        <div class="col-md-8">
                            <h4 class="update-title">Update Password</h4>
                        </div>
                    <!-- <div class="col-md-12 text-center">
                        <p [ngClass]="[successMessage === 'Password update successfully' ? 'success-message' : 'error-message']">{{successMessage}}</p>
                        
                    </div> -->
                    <div class="col-md-12 text-center">
                        <p class="success-message" *ngIf="result=='SUCCESS'">Password Updated Successfully</p>
                        <p class="error-message" *ngIf="result!='SUCCESS'">{{result}}</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 details-container">
                        <form [formGroup]="formGroupPassword" class="signup-form" (validSubmit)="changePassword()">
                            <div class="form-group">
                                <label class="control-label">Old Password</label>
                                <input type="text" class="form-control" placeholder="Old Password"
                                    [(ngModel)]="userPassword" formControlName="Password" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">New Password</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="New Password"
                                        [(ngModel)]="newPassword" formControlName="NewPassword">
                                </div>
                                <!-- <input type="text" class="form-control" placeholder="Password" [(ngModel)]="userPassword"
                                    formControlName="Password" /> -->
                            </div>
                            <div class="form-group">
                                <label class="control-label">Confirm Password</label>
                                <div class="input-group">
                                    <input class="form-control" (focusout)="checkPasswordValidation()"
                                        placeholder="Confirm Password" [(ngModel)]="confirmPassword"
                                        formControlName="ConfirmPassword" appConfirmaEqualValidator="NewPassword"
                                        >
                                </div>
                                <span class="error-message" *ngIf="passwordNotMatch">New password and confirm password does not match</span>
                                <!-- <input type="text" class="form-control" placeholder="Password" [(ngModel)]="userPassword"
                                    formControlName="Password" /> -->
                            </div>
                            <button class="btn btn-primary w-100" type="submit">
                                Update
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>