<footer class="page-footer font-small unique-color-dark bg_blue pt-4">
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-2 d-flex">
        <a (click)="goToHome()">
        <img src="../../../assets/images/Scythe_Logo_WhiteLightBlue.png"
          class="logo-custom-width" alt="app-logo">
        </a>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4">
            <h6 class="text-uppercase white-text widget-title" >{{'footer.browse' | translate}}</h6>
            <div *ngFor="let filter of filters | slice:1; let i = index">   
            <p>
              <a class="collections-link" (click)="navigateAppList(filter.label)" >{{filter.label}}</a>
            </p>
          </div>
           </div>
          <div class="col-md-4">
            <h6 class="text-uppercase white-text widget-title">{{'footer.company' | translate}}</h6>
            <p>
              <a href="#!" class="collections-link">{{'footer.contactUs' | translate}}</a>
            </p>
            <p>
              <a href="#!" class="collections-link">{{'footer.careers' | translate}}</a>
            </p>
            <p>
              <a href="#!" class="collections-link">{{'footer.blog' | translate}}</a>
            </p>
            <p>
              <a href="#!" class="collections-link">{{'footer.newsEvents' | translate}}</a>
            </p>
          </div>
          <div class="col-md-4">
            <h6 class="text-uppercase white-text widget-title">{{'footer.scytheUseCases' | translate}}</h6>
            <p>
              <a href="#!" class="collections-link">{{'footer.redTeam' | translate}}</a>
            </p>
            <p>
              <a href="#!" class="collections-link">{{'footer.blueTeam' | translate}}</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-5 flex-center">
          <a class="li-ic">
            <i class="fa fa-envelope fa-lg white-text mr-md-5 mr-3"> </i>
          </a>
          <a class="li-ic">
            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3"> </i>
          </a>
          <a class="tw-ic">
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
