@font-face {
  font-family: Fjalla_one_regular;
  src: url("../../../assets/fonts/Fjalla_One/FjallaOne-Regular.ttf");
}
p a {
  color: #fff;
  opacity: 0.8;
}

.w-60{
  width: 60px;
}

.widget-title{
text-transform: uppercase;
    line-height: 1.67;
    font-size: 11px;
    margin-bottom: 20px;
    color: #fff;
    font-family:Fjalla_one_regular ;
  }
.collections-link{
  font-size: 11px;
  opacity: 0.8;
  margin-bottom: 0.7rem;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}